.color_on{
    text-align:center;
    background-color: rgb(238, 78, 73);
    color: white;
    font-size: x-large;
}
.color_on{
  width: 100%;
}
.color_on ,td{
   border: 1px solid white;

}

#one{
width: 100%; 
text-align: center;
  background-color: antiquewhite;
  color: black;
}
#by_Day {
    text-align: left;
    font-size: 16px;
}